* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-size: 16px;

  /* Primary */
  --purple: #684bb1;
  --pink: #ff52c1;
  --soft-pink: #e880e8;

  /* Typography */
  --h1: 2.5rem;
  --h1-line-height: 60px;

  --body: 1.125rem;
  --body-line-height: 27px;

  --button: 1.125rem;
  --button-line-height: 27px;

  --horizontal-section-padding: 40px;
  --container-max-width: 1275px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--h1);
  line-height: var(--h1-line-height);
  font-weight: 600;
}

.body-text {
  font-size: var(--body);
  line-height: var(--body-line-height);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 375px) {
  :root {
    --h1: 1.5rem;
    --h1-line-height: 36px;

    --body: 1rem;
    --body-line-height: 24px;

    --button: 0.75rem;
    --button-line-height: 18px;
  }
}
