.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: var(--button);
  line-height: var(--button-line-height);
  font-weight: 400;
  border-radius: 28px;
}

.btn-primary {
  background-color: #fff;
  color: var(--purple);
  padding: 12px 65px;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--pink);
  color: #fff;
}
