.page-fold {
  background: no-repeat url('./assets/bg-desktop.svg') center/cover;
  background-color: var(--purple);
  min-height: 800px;
}

.navbar {
  padding: 64px var(--horizontal-section-padding);
}

.navbar-logo {
  max-width: 200px;
}

.header {
  padding: 0 var(--horizontal-section-padding);
  margin: 28px 0 16px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-img {
  margin-right: 60px;
  max-width: 700px;
}

.header-text {
  margin-top: 35px;
}

.header-title,
.header-description {
  color: #fff;
}

.header-description {
  margin: 24px 0 30px 0;
}

.header-btn {
  display: inline-block;
  margin-right: auto;
}

.footer {
  padding: 0 var(--horizontal-section-padding);
}

.footer .footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
}

.footer-social {
  position: relative;
  border: 1.18px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-social:not(:last-child) {
  margin-right: 16px;
}

.footer-social-icon {
  position: absolute;
  color: #fff;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.footer-social:hover {
  transition: all 0.2s ease-in-out;
  border: 1.18px solid var(--pink);
}

.footer-social:hover .footer-social-icon {
  transition: all 0.2s ease-in-out;
  color: var(--pink);
}

@media (max-width: 375px) {
  .page-fold {
    background: no-repeat url('./assets/bg-mobile.svg') top/contain;
    background-color: var(--purple);
  }
}
